<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Check the latest setlist of y</title>
    <meta name="keywords" content="Setlist, Music Festival, Music, Concerts"/>
    <meta name="author" content="Ruedakax"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <header class="site-header">
        <div>Quick check last show setlist</div>
    </header>
    <div class="container">
        <div id="app" v-cloak>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let app = Vue.createApp({
            template: `
                <band-search @set-results="setSearchResult" :initialize="initialize"/>
                <band-list :bands="searchResult" :loading="loadingList" @set-id="setSelectionId"/>
                <setlist-items :id="selectedId" :tags="getTags()" @back="initialState"/> 
            `,
            data: function() {
                return {
                    searchResult: [],
                    loadingList: false,
                    selectedId: '',
                    initialize:false,
                }
            },
            components:['band-search, band-list', 'setlist-items'],
            methods: {
                setSearchResult(result){
                    this.selectedId = ''
                    this.searchResult = result
                },
                setSelectionId(id){
                    this.selectedId = id
                },
                getTags(){
                    let res = {
                        name:'',
                        tags:[]
                    }
                    if(this.selectedId){
                        let selectedObject = this.searchResult.find(item => item.id === this.selectedId)
                        if(selectedObject){
                            res.tags = selectedObject.tags
                            res.name = selectedObject.name
                        }
                    }
                    return res
                },
                initialState(flag){
                    this.selectedId = ''
                    this.searchResult = []
                    this.loadingList = false
                    this.initialize = flag
                }
            }
        })
        
        //END OF MAIN APP
        
        app.component('band-search', {
            template: `
                <div class="box">
                    <input
                        class="search"
                        spellcheck="false"
                        placeholder="Artist or Band name..."
                        @keyup.enter="onEnter"
                        v-model="searchTerm"
                        @change="cleanResults"
                    >
                </div>
                <div class="box" v-show="loading"><div class="loader"></div></div>
                <div :class="[noFound ? 'visible' : 'hidden', 'alert']">
                    <span> No results for your search! </span>
                </div>
            `,
            data() {
                return {
                    searchTerm: '',
                    results: [],
                    noFound: false,
                    loading: false,
                }
            },
            methods:{
                onEnter() {
                    if (this.searchTerm) {
                        this.$emit('set-results', [])
                        this.loading = true
                        setTimeout(() => {
                            this.getBands(this.searchTerm)
                        }, 2000);
                    }
                },
                async getBands(item) {
                    try {
                        this.results = await axios.
                            get (`https://soundsxpected.000webhostapp.com/getband.php?query=${item}`).
                            then (function(response) {
                                return response.data.artists
                            })
                        if (this.results === undefined)
                            throw new Error('NO RECORDS FOUND!');
                        let formattedItems = this.formatBandsInfo(this.results)
                        this.$emit('set-results', formattedItems)
                        this.loading = false
                        
                    } catch (error) {
                        this.noFound = true
                        this.loading = false
                        this.$emit('set-results', [])
                        setTimeout(() => {
                            this.noFound = false
                        }, 2000);
                        console.error(error)
                    }
                },
                formatBandsInfo(bands){
                    let formattedBands = []
                    bands.forEach(band => {
                        let name = band.hasOwnProperty('name') ? band.name : null
                        let disambiguation = band.hasOwnProperty('disambiguation') ? band.disambiguation : ''
                        let area = band.hasOwnProperty('area') ? band.area : {}
                        let country = area.hasOwnProperty('name') ? area.name : null
                        let beginArea = band.hasOwnProperty('begin-area') ? band['begin-area'] : {}
                        let city = beginArea.hasOwnProperty('name') ? beginArea.name : ''
                        let id = band.hasOwnProperty('id') ? band.id : null
                        let finalObject = {
                            name,
                            disambiguation,
                            country,
                            city,
                            id,
                            tags: band.hasOwnProperty('tags') ? band.tags : [],
                        }
                        if (!Object.values(finalObject).some(element => element == null)) {
                            formattedBands.push(finalObject)
                        }
                    });

                    return formattedBands
                },
                cleanResults(){
                    this.results = []
                }        
            },
            watch: {
                initialize(){
                    this.searchTerm = ''
                },
            },
            emits:['set-results','set-loading-list'],
            props: ['initialize'],
        })
        
        //END SEARCH COMPONENT
        
        app.component('band-list', {
            data() {
                return {
                    selectedId: null,
                }
            },
            props: ['bands','loading'],
            template: `
                <div class="box" v-show="checkBands">
                    <section class='results-watchlist-container'>
                        <h2>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-graph" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 18v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                <path d="M7 14l3 -3l2 2l3 -3l2 2" />
                            </svg>
                            Results
                        </h2>
                        <div id="results">
                            <article class="result-row" v-for="band in bands" v-show="isSelected(band.id)">
                                <div class="result-name">
                                    <h3>{{band.name}}</h3>
                                    <p>{{band.disambiguation}}</p>
                                </div>
                                <div class="result-info">
                                    <p class="country">{{band.country}}</p>
                                    <p class="city">{{band.city}}</p>
                                </div>
                                <button class="result-button" role="button" @click="selectBand(band.id)">GO!</button>
                            </article>
                        </div>
                    </section>
                </div>
            `,
            components:[],
            data() {
                return {
                    selectedId: ''
                }
            },
            methods:{
                selectBand(id) {
                    this.selectedId = id
                    this.$emit('set-id', id)
                },
                isSelected(id) {
                    if (!this.selectedId) {
                        return true
                    } else {
                        return this.selectedId === id
                    } 
                },
            },
            watch: {
                bands: {
                    handler: function(newVal, oldVal) {
                        this.selectedId = ''
                    },
                },
            },
            computed: {
                checkBands() {
                    return this.bands.length > 0 ? true : false
                },
            },
            emits:['set-id'],
        })

        // end of list component

        app.component('setlist-items',{
            template: `
                <div class="box" v-show="id !== ''">
                    <span v-if="loading" class="loader"></span>
                    <section v-else class='results-watchlist-container'>
                        <div class="back-container">
                            <button class="result-button back" role="button" @click="initialize">BACK</button>
                        </div>
                        <div class="tags">
                            <p class="tags-title">Sounds like :</p>
                            <p class="tags-body">{{tagsToSlashedString()}}</p>
                        </div>
                        <div class="header">
                            <img src="assets/list.svg" alt="list icon" class="list-icon">  
                            <h5>Lastest Setlist</h5>
                            <div class="venue">{{show.venueName}}, {{show.city}}, {{show.country}}.</div>
                            <div class="date">{{show.date}}</div>
                        </div>
                        <div class="list">
                            <ul v-if="show.songs.length > 0">
                                <li v-for="song in show.songs" class="song">
                                    <span class="linked" v-show="song.name!=''" @click="openRequest(song.url)">
                                    {{song.name}}
                                </span>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div :class="[noFound ? 'visible' : 'hidden', 'alert']">
                    <span> Setlists not available! </span>
                </div>
            `,
            props:['id','tags'],
            data: function() {
                return {
                    show: {
                        date: undefined,
                        venueName : undefined,
                        city: undefined,
                        country: undefined,
                        songs: []
                    },
                    loading: false,
                    noFound: false,
                }
            },
            methods:{
                async getLastSetList(){
                    try {
                        const response = await axios.get(`https://soundsxpected.000webhostapp.com/getset.php?mbzid=${this.id}`)
                        let setLists = response.data.setlist !== undefined ? response.data.setlist : []
                        if (setLists.length >0) {
                            this.getFirstValidShow(setLists)
                        } else {
                            this.noFound = true
                            setInterval(() => {
                                this.noFound = false
                            }, 2000);
                            this.initialize()
                        }

                    } catch (error) {
                        console.error(error);
                        this.id = '';
                    } finally {
                        this.loading = false
                    }
                },
                getFirstValidShow(shows){
                    let requestedShow = []

                    for (let i = 0; i < shows.length; i++) {
                        if (shows[i].sets.set[0] !== undefined && shows[i].sets.set[0].song.length > 5) {
                            requestedShow = shows[i]
                            break
                        }                        
                    }

                    if (requestedShow.sets !== undefined && requestedShow.sets.set[0] !== undefined) {
                        this.show.date = requestedShow.eventDate
                        this.show.venueName = requestedShow.venue.name
                        this.show.city = requestedShow.venue.city.name
                        this.show.country = requestedShow.venue.city.country.name
                        this.show.songs = requestedShow.sets.set[0].song.map(obj => ({
                             ...obj,
                             url : `https://www.youtube.com/results?search_query=${encodeURIComponent(this.tags.name)}+${encodeURIComponent(obj.name)}`
                        }))
                    }
                },
                tagsToSlashedString(){
                    this.tags.tags.sort((a,b) => b.count - a.count)
                    if (this.tags.tags.length > 0) {
                        let string = this.tags.tags.filter(tag => tag.count > 1)
                                .map(function(item) { return item.name  })                    
                                .join(' / ')
                        
                        return string                    
                    } else {
                        return ''
                    }
                },
                initialize() {
                    this.$emit('back',true)
                },
                async openRequest(url){      
                    window.open(url, "_blank");
                }
            },
            watch:{
                id () {
                    if (this.id != ''){
                        this.loading = true
                        this.getLastSetList()
                    }
                }
                
            },
            emits:['back'],
        })
        app.mount('#app')
    </script>
</body>
</html>
